@charset "utf-8";
/* CSS Document */

/* 各種変数　*/
:root {
  --highright-color: #ff7600;
  --black-color: #333;
  --crystal-clear-black: rgba(0, 0, 0, 0.6);
  --strong-crystal-clear-black: rgba(0, 0, 0, 0.7);
  --element-width-in-content: 717px;
  --max-widh-of-element: 1200px;
  --backdrop-filter-value: 5px;
  --font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* ### reset css*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}
ul {
  list-style-type: none;
}
/*### clearfix */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
  position: relative;
}
* html .clearfix {
  height: 1px;
}

/* ### default tag */
body,
html {
  height: 100%;
}
body {
  font-family: var(--font-family);
  background-color: white;
  line-height: 1.8;
  font-size: 16px;
  color: var(--black-color);
  font-weight: normal;
}
a {
  transition: opacity 0.3s ease;
}
@media (hover: hover) {
  a:hover {
    text-decoration: none;
    opacity: 0.6;
  }
}
.wrapcontent {
  max-width: var(--max-widh-of-element);
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
body .wrapcontent .content,
footer {
  margin-top: 70px;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
  font-feature-settings: "pkna" 1;
}
.hd-sm-3 {
  display: none;
}

/*ロゴ*/
.title {
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  font-feature-settings: "palt";
}
.title .content1 {
  font-size: 2.5em;
}
.title .content2 {
  font-size: 2em;
}

/* ### header */
header {
  line-height: 1;
  background-color: var(--crystal-clear-black);
  color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 10;
  white-space: nowrap;
  backdrop-filter: blur(var(--backdrop-filter-value));
}
header h1 {
  margin-left: 10px;
}
header a {
  text-decoration: none;
  color: white;
}
header .wrapcontent {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}
header .wrapcontent .hd-sm-2 {
  margin-left: auto;
  text-align: right;
}
/* nav */
header .wrapcontent .hd-sm-2 nav li {
  text-align: right;
  display: inline-block;
  margin-left: 2em;
}
/* button*/
.menubtn {
  display: none;
}

/* ### heroimage */
#heroimage {
  background-image: url("/images/landscape_photography/DSC_0084.jpg");
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
}
#hd-sm-3 ul {
  display: none;
}
#heroimage p {
  position: absolute;
  background-color: var(--crystal-clear-black);
  padding: 0px 10px;
  margin: 10px 0px;
  color: #fff;
  bottom: 0px;
}
#heroimage h2 {
  font-size: 2.5em;
  color: #fff;
  background-color: var(--crystal-clear-black);
  position: absolute;
  bottom: 70px;
  padding: 10px 20px 10px 20px;
}
@media screen and (max-width: 767px) {
  .hd-sm-3 ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-width: var(--max-widh-of-element);
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    flex-direction: column;
  }
  .hd-sm-3 ul li {
    width: calc(100% - 60px);
    margin: 30px auto 0 auto;
  }
  .hd-sm-3 ul li a {
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 32.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: var(--strong-crystal-clear-black);
    display: block;
    transition: 0.3s all;
  }

  @media (hover: hover) {
    .hd-sm-3 ul li a:hover {
      color: var(--black-color);
      background-color: #fff;
      opacity: 1;
    }
  }

  /* ハンバーガーメニュー*/
  header .wrapcontent .hd-sm-2 {
    display: none;
  }
  header .wrapcontent .menubtn {
    display: inline;
    position: absolute;
    right: 0px;
    bottom: 10px;
    margin: auto 10px 0 auto;
    background: transparent;
    border: none;
    z-index: 6;
    color: white;
    align-items: center;
    font-family: var(--font-family);
    font-size: 1rem;
  }
  @media (hover: hover) {
    header .wrapcontent .menubtn:hover {
      opacity: 0.6;
    }
  }
  header .wrapcontent .menubtn .menuico {
    position: absolute;
    left: -35px;
    bottom: -6px;
  }
  header .wrapcontent .menubtn .closeico {
    position: absolute;
    left: -28px;
    bottom: -6px;
  }
  .hd-sm-3 {
    width: 100%;
    height: 480px;
    background-color: var(--strong-crystal-clear-black);
    z-index: 5;
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* ### content */
body .content h2 {
  border-left: 11px solid var(--highright-color);
  padding-left: 9px;
}
body .content .body-of-letter {
  margin-top: 30px;
  padding: 0 25px 0 25px;
}
body .content img {
  max-width: var(--element-width-in-content);
  margin: 0px 0px 30px 0px;
}
@media screen and (max-width: 787px) {
  body .content img {
    max-width: 100%;
  }
}
.nowrap {
  white-space: nowrap;
}
.article time {
  display: block;
  margin: 0px 0px 20px 0px;
}

/*table-dl*/
.table-dl {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  border-bottom: none;
}
.table-dl dt {
  background: #f5f5f5;
  padding: 5px;
  width: 150px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.table-dl dd {
  background: #fff;
  padding: 5px;
  width: calc(100% - 150px);
  border-bottom: 1px solid #ccc;
}

/*date-dl*/
.date-dl dt {
  float: left;
  clear: left;
  margin-right: 10px;
}
.date-dl dd {
  margin-left: 0px;
}
.date-dl dd a {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .date-dl dt {
    float: none;
  }
}

/* ### footer */
footer {
  background-color: var(--black-color);
  color: white;
  white-space: nowrap;
}
footer a {
  color: white;
  text-decoration: none;
}
footer .wrapcontent {
  min-height: 230px;
  padding-top: 45px;
}
footer .wrapcontent .wrapcol {
  width: auto;
  height: auto;
  display: flex;
}
footer .wrapcontent .wrapcol .col-sm-2 {
  margin-right: auto;
  display: flex;
}
footer .wrapcontent .wrapcol .col-sm-2 ul {
  margin-left: 80px;
}
footer #copyright {
  text-align: center;
  background-color: black;
  height: 45px;
}
footer #copyright .wrapcopy {
  width: 100%;
  height: 100%;
  display: table;
}
footer #copyright .wrapcopy small {
  display: table-cell;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  footer .wrapcontent {
    text-align: center;
  }
  footer .wrapcontent .wrapcol {
    width: auto;
    height: auto;
    display: block;
  }
  footer .wrapcontent .wrapcol .col-sm-2 {
    display: block;
  }
  footer #copyright,
  footer .wrapcontent .wrapcol .col-sm-2 ul {
    margin: 30px 0 0 0;
  }
}
