@media screen and (max-width: 767px) {
  #heroimage ul {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-width: var(--max-widh-of-element);
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    flex-direction: column;
  }
  #heroimage ul li {
    width: calc(100% - 60px);
    margin: 30px auto 0 auto;
  }
  #heroimage ul li a {
    line-height: 1;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 32.5px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: var(--strong-crystal-clear-black);
    display: block;
  }
  #heroimage ul li a:hover {
    transition: 0.3s all;
    color: var(--black-color);
    background-color: #fff;
    opacity: 1;
  }
  /* ハンバーガーメニュー*/
  header .wrapcontent .hd-sm-2 {
    display: none;
  }
  header .wrapcontent .menubtn {
    display: inline;
    margin: auto 10px 0 auto;
  }
  header .wrapcontent .menubtn:hover {
    opacity: 0.6;
  }
  header .wrapcontent .menubtn .menuico {
    font-size: 2.5rem;
    position: absolute;
    bottom: 3px;
    right: 18px;
  }
  header .wrapcontent .menubtn .closeico::after {
    font-size: 2.5rem;
    position: absolute;
    bottom: 3px;
    right: 18px;
  }
  .hd-sm-3 {
    width: 100%;
    height: 480px;
    background-color: var(--strong-crystal-clear-black);
    z-index: 5;
    position: relative;
  }
}
